---
import Default from "@astrojs/starlight/components/SocialIcons.astro";

const links = Object.entries({
	Products: "/products/",
	Learning: "/learning-paths/",
	Status: "https://www.cloudflarestatus.com/",
	Support: "/support/contacting-cloudflare-support/",
	"Log in": "https://dash.cloudflare.com",
});
---

<div class="mx-auto hidden items-center lg:flex">
	{
		links.map(([text, href]) => (
			<a
				href={href}
				class="px-4 font-medium text-[--sl-color-text] no-underline"
			>
				<span>{text}</span>
			</a>
		))
	}
</div>
<Default><slot /></Default>

<style>
	:root {
		.social-icons {
			--sl-icon-color: var(--sl-color-text);
		}
	}
</style>
